@model string

@{
    ViewData["Title"] = @Model;
}

@section title {
                <h1>@ViewData["Title"]</h1>
}


<div class="text-center">
    <a class="btn btn-primary" role="button" asp-controller="home" asp-action="test">Go Back to Chores</a>
<div/>