@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wellcome to Task Manager</h1>
    <p>Before using, we encourage you to visit the <a href="./home/Instructions">Instructions</a> page.</p>
    <p class=".small">Where you'll find everythign you need!</p>

    <hr />
    <br />


    <p>If you are ready, go to the <a href="./ToDo/index" class="btn btn-primary" role="button">Task Manager</a> page.</p>
</div>

