@{
    ViewData["Title"] = "Logged Out | Task Manager";
}

@section title {
    <h1>Successfully logged out</h1>
}

<div class="text-center">
    <a class="btn btn-primary" role="button" asp-controller="home" asp-action="index">Return Home</a>
</div>
