@{
    ViewData["Title"] = "Registration Successfull | Task Manager";
}

@section title {
    <h1>Registred Successfully!</h1>
}

<div class="text-center">
    <a class="btn btn-primary" role="button" asp-controller="todo" asp-action="index">Go to chores</a>
</div>