@{
	ViewData["Title"] = "Chore Created | Task Manager";
}

@section title {
	<div class="text-center">
		<h2>Chore sucsessfully created.</h2>
	</div>
}


<div class="text-center">
	<a class="btn btn-primary" role="button" asp-controller="todo" asp-action="index">Go back to chores</a>
</div>