@model List<Chore>

@{
  ViewData["Title"] = "To Do | Task Manager";
}

@section title {
  <h1>To Do list</h1>

}

<a class="btn btn-primary" asp-controller="todo" asp-action="createchore">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill"
    viewBox="0 0 18 18">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
  </svg>
  Add Chore</a>

<ul>
  @foreach (var chore in Model)
  {
    <li>
      @chore.Title
      <a class="btn btn-link" role="button" asp-controller="todo" asp-action="details"
        asp-route-id="@chore.ID">Details</a>
      <a class="btn btn-link" role="button" asp-controller="todo" asp-action="deleteconfirm"
        asp-route-id="@chore.ID">Delete</a>
    </li>
  }
</ul>
